@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Caudex", serif;

}

.outer-container{
    padding-block-start: 50px;
}

header{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    position: fixed;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: .85em;
}

.nav-list li, li{
    list-style: none;
    
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: 300px auto;
    grid-template-rows: 1fr;
    height: 900px;
    
}

.aside, .weather-info{
    box-shadow: 0 8px 16px hsla(218, 94%, 45%, .2);
}

.aside{
    /* height: 900px; */
    padding: 0.85rem;
    position: sticky;
    top: 50px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    
}
.aside{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: blue;
}

.weather-info{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: yellow;
    padding: 1rem;
}

.weather-info h3{
    text-decoration: underline;
}

input[type="text"]{
    background-color: pink;
    margin-inline-end: 10px;
    border-radius: 10px;
    width: 170px;
    height: 1.3rem;
    padding: 0.1rem;
    padding-inline: 0.3rem;
    font-size: 1rem;
}

input[type="text"]:focus{
    border: 2px solid rgb(113, 208, 113);
}

button{
    border: 1px solid grey;
    background-color: #ffffff;
    font-size: 1rem;
    padding: 0.2rem;
    padding-inline: 0.5rem;
    border-radius: 10px;
    transition: color .4s, background-color .4s;
}

button:hover{
    color: green;
    background-color: hsl(330, 3%, 76%);
}






